.transaction-form-warning {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr 0.9fr;
  gap: 1rem;
  align-items: center;
}

.transaction-form-warning-text {
  grid-column: 3;
  font-size: 0.9rem;
  color: var(--red);
  margin: 0 auto 1rem;
  padding: 0 1rem;
  overflow-wrap: anywhere;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

@media (max-width: 700px) {
  .transaction-form-warning {
    display: block;
  }

  .transaction-form-warning-text {
    margin-top: -0.5rem;
  }
}
